@import url("./auth.css");
@import url("./fonts.css");
@import url("./register.css");
@import url("./login.css");
@import url("./dashboard.css");
@import url("./dashboard-nav.css");
:root {
  --blue-lighter: #505ab6;
  --blue-darker: #121a5b;
  --text-white: #fcfcfc;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.text-darker {
  color: #121a5b;
}
.bg-darker {
  background: var(--blue-darker);
}
.bg-lighter{
  background: var(--blue-lighter);
}
.text-white {
  color: #fcfcfc;
}
.bg-white {
  background-color: #fcfcfc;
}
.bg-overlay{
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 99999;
}
.none{
  display: none;
}