.dashboard-container{
    width: 400px;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -200px;
    background: #FCFCFC;
    border: 1px solid rgba(18, 26, 91, 0.5);
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 40px;
}
.dashboard-top{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 30px 30px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(18, 26, 91, 0.5);

}
.wallet-tag{
    font-size: 14px;
    color: rgba(18, 26, 91, 0.88);
}
.wallet-amount{
    font-weight: 500;
    font-size: 25px;
    color: #121A5B;

}
.dashboard-btn{
    background: #121A5B;
    border-radius: 7px;
    font-weight: 500;
    font-size: 16px;
    color: #FCFCFC;
    box-sizing: border-box;
    padding: 7px 25px;
    cursor: pointer;
    outline: none;
    border: none;
}
.dashboard-btn:hover{
    background: var(--blue-lighter);
}
.dashboard-new{
    padding: 30px;
    border-bottom: 1px solid rgba(18, 26, 91, 0.5);
}
.recent-activity{
    padding: 30px 30px 0px;
}
.recent-head{
    font-size: 20px;
}
/*Transaction section*/
.recent-trans{
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.recent-transaction{
    width: 340px;
    height: 75px;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 20px;
    margin: 10px 0px;
    cursor: pointer;
    transition: 0.2s;
}
.recent-transaction:hover{
    transform: scale(1.03);
}
.credit-trans{
    border: 2px solid #2d892b;
    /*background: #2d892b;*/
}
.debit-trans{
    /*background: #CA261C;*/
    border: 2px solid #CA261C;

}
.recent-transaction-left{
    height: 100%;
    box-sizing: border-box;
    justify-content: space-around;
}
.recent-transaction-date{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;

}
.recent-transaction-amount{
    font-weight: 500;
    font-size: 25px;
}
.credit-trans .recent-transaction-amount{
    color: #08B505;
}.debit-trans .recent-transaction-amount{
    color: #961b14;
}
.add-money-dialog{
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 180px;
    padding: 25px;
    margin-top: -90px;
    margin-left: -140px;
    box-sizing: border-box;

    box-shadow: inset 0px 0px 12px -6px rgba(18, 26, 91, 0.31);
    border-radius: 20px;
    z-index: 99999;
}
.add-money-top{
    justify-content: space-between;
    width: 100%;
}
.close-add-money{
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: 0.12s;
    box-sizing: border-box;
}
.close-add-money:hover{
    background-color: var(--blue-darker);
    color: var(--text-white);
}
.add-money-head{
    font-weight: 500;
    font-size: 17px;
}
@media screen and (max-width: 450px) {
    div.dashboard-container{
        width: 90vw;
        margin-left: -45vw;
    }
    div.recent-transaction{
        width: 80vw;
    }
}