.toggle-menu{
    font-size: 23px;
    color: var(--blue-darker);
    margin: 10px;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 30px;
    right: 50px;
    z-index: 9999;
    background-color: #FCFCFC;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0px 0px 15px -10px rgba(18, 26, 91, 0.44) inset;
}
.dashboard-nav{
    position: fixed;
    z-index: 999;
    background-color: #FCFCFC;
    top: 0px;
    right: 0px;
    padding: 30px;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: space-between;
    height: 100vh;
    border-left: 1px solid rgba(18, 26, 91, 0.5);
    box-shadow: 0px -20px 23px -15px var(--blue-darker);
}
.nav-item{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
    outline: none;
}
a{
    text-decoration: none !important;
    color: #000;
}
.logout-container{
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
}
.logout-btn{
    outline: none;
    font-size: 17px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    transition: 0.12s;
}
.logout-btn:hover{
    background: var(--blue-darker);
}